
/* header */
.stories{
	display: flex;
}
.story{
	border-radius: 50%;
}


/* main */
.tweet{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px ;
}
.user_info{
	display: flex;
}
.res_icon{
	display: flex;
	justify-content: right;
	margin-right: 5%;
}

/* footer */
.home_menu{
	display: flex;
	justify-content: space-around;
}