.container{
	width: 85%;
	margin: 0 auto;
	position: relative;
}

.nav-icon{
	position: absolute;
	top: -0.85%;
	left: 8%;
	font-size: 50px;
}

.nav-icon.none{
	display: none;
}

.nav-icon2{
	position: absolute;
	top: -0.85%;
	left: 8%;
	font-size: 50px;
	display: none;
}

.nav-icon2.block{
	display: block;
}

.nav-icon.block{
	display: block;
}

.sideber{
	display: block;
	position: absolute;
	top: 2%;
	height: 50vh;
	background-color: rgba(236, 203, 145, 0.9);
	width: 20%;
	margin: 0 auto;
	font-weight: bold;
	border-radius: 10px;
}

.sideber.on{
	position: absolute;
	top: 2%;
	left: 0;
}


.sideber > li{
	margin: 30px 0 30px;
	color: black;
	text-align: center;
}

.big-font{
	color: black;
}

.series li{
	margin-top: 10%;
	text-align: center;
}

/* content */
.text-box p{
	margin-top: 5%;
}
.col-10{
	margin-top: 10%;
}

.text-box{
	width: 80%;
	margin: 0 auto;
	font-size: 20px;
	line-height: 27px;
}

.text-box h1{
	font-size: 35px;
	text-align: center;
}

.js-shadow{
	font-weight: bold;
	font-family: 'Kosugi Maru', sans-serif;
}

.js-shadow.on{
	text-shadow: #1e90ff 10px 10px 10px;
	transition-duration: 2500ms;
}

.margin-top{
	margin-top: 10%;
}

.mainimgs{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-4{
	margin-bottom: 10%;
	width: 320px;
}

.col-4 img{
	width: 100%;
	height: 100%;
}

.font{
	margin-bottom: 22px;
	font-size: 25px;
	font-weight: bold;
}

.font span{
	border-bottom: dashed 5px #87CEFA;
}


/* footer */
footer{
	margin-top: 80px;
	background-color: rgba(0,0,0,.5);
	color: #fff;
}

.footer01{
	display: flex;
	justify-content: center;
}

.footer01 ul{
	width: 25%;
	margin-top: 40px;
	margin-left: 60px;
}

.footer01 ul:first-child{
	margin-left: 0;
}

.heading{
	font-size: 18px;
	font-weight: bold;
}

footer ul{
	margin-bottom: 0;
}

.share-icon{
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.share-icon li{
	font-size: 45px;
	margin-left: 30px;
}

.share-icon li a{
	color: white;
}

.share-icon li:first-child{
	margin-left: 0;
}

.footer02{
	text-align: center;
	font-size: 18px;
	padding-bottom: 10px;
}

/*-------------- レスポンシブルデザイン -------------------------*/
/*---　小型PC -----*/
@media screen and (max-width: 1280px){




}


/*---  タブレット　------*/
@media screen and (max-width: 960px){





}



@media screen and (max-width: 600px){
	body{
		min-width: 375px;
	}


	/* main */
	.mainimgs{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
	}




}