/* ローディング */
#load_animation {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}

.icon {
    padding: 50px 0;
}

.ion img{
	width: 30vh;
	height: auto;
	display: none;
}

.loading_gif {
    padding: 50px 0;
}  

.loading_gif img{
	width: 12vh;
	height: auto;
	display: none;
}



body{
	position: relative;
}
.container{
	width: 85%;
	margin: 0 auto;
	position: relative;
}

.nav-icon{
	position: absolute;
	top: -0.85%;
	left: 8%;
	font-size: 50px;
	cursor: pointer;
}

.nav-icon.none{
	display: none;
}

.nav-icon2{
	position: absolute;
	top: -0.85%;
	left: 8%;
	font-size: 50px;
	cursor: pointer;
	display: none;
}

.sideber{
	display: block;
	position: absolute;
	top: 2%;
	left: -60%;
	height: 50vh;
	background-color: rgba(236, 203, 145, 0.9);
	width: 20%;
	margin: 0 auto;
	font-weight: bold;
	border-radius: 10px;
	transition-duration: 800ms;
}

.sideber.on{
	position: absolute;
	top: 2%;
	left: 0;
	transition-duration: 800ms;
}


.sideber > li{
	margin: 30px 0 30px;
	color: black;
	text-align: center;
}

.big-font{
	color: black;
}

.series li{
	margin-top: 10%;
	text-align: center;
}

/* content */
.text-box p{
	margin-top: 5%;
}
.col-10{
	margin-top: 10%;
}

.text-box{
	width: 80%;
	margin: 0 auto;
	font-size: 20px;
	line-height: 27px;
}

.text-box h1{
	font-size: 35px;
	text-align: center;
}

.js-shadow{
	font-weight: bold;
	font-family: 'Kosugi Maru', sans-serif;
}

.js-shadow.on{
	text-shadow: #4b0082 10px 10px 10px;
	transition-duration: 2500ms;
}

.text-box p span{
	background: linear-gradient(transparent 50%, yellow 50%);
}

.mainimgs{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.video{
	width: 60%;
	margin: 10% auto 0;
}

.video video{
	margin: auto;
	width: 100%;
	height: 0%;
}

.video p{
	font-size: 24px;
	font-family: 'Kosugi Maru', sans-serif;
	margin-bottom: 3%;
}

.text-box .font span{
	border-bottom: dashed 5px #87CEFA;
	background: linear-gradient(transparent 0, #fff 0);;
}


/* footer */
footer{
	margin-top: 80px;
	background-color: rgba(0,0,0,.5);
	color: #fff;
}

.footer01{
	position: relative;
	display: flex;
	justify-content: center;
}

.scroll-top{
	position: absolute;
	right: 10%;
	top: -50%;
	color: black;
}
.top-button{
	font-size: 2.2rem;
	cursor: pointer;
}
.top-he{
	font-size: 0.75rem;
	text-align: center;
	margin-top: 1%;
}


.footer01 ul{
	width: 25%;
	margin-top: 40px;
	margin-left: 60px;
}

.footer01 ul:first-child{
	margin-left: 0;
}

.heading{
	font-size: 18px;
	font-weight: bold;
}

footer ul{
	margin-bottom: 0;
}

.share-icon{
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.share-icon li{
	font-size: 45px;
	margin-left: 30px;
}

.share-icon li a{
	color: white;
}

.share-icon li:first-child{
	margin-left: 0;
}

.footer02{
	text-align: center;
	font-size: 18px;
	margin-top: 40px;
	padding-bottom: 30px;
}

/*-------------- レスポンシブルデザイン -------------------------*/
/*---　小型PC -----*/
@media screen and (max-width: 1280px){




}


/*---  タブレット　------*/
@media screen and (max-width: 960px){
	.nav-icon{
		top: -0.5%;
		left: 6%;
		font-size: 35px;
	}
	
	.nav-icon2{
		top: -0.5%;
		left: 6%;
		font-size: 35px;
		display: none;
	}
	.sideber{
		height: 50vh;
		width: 40%;
		font-size: 16px;
	}





}



@media screen and (max-width: 600px){
	body{
		min-width: 375px;
	}

	/* sidber */
	.nav-icon{
		position: absolute;
		top: 0;
		left: 6%;
		font-size: 25px;
	}
	
	.nav-icon2{
		position: absolute;
		top: 0;
		left: 6%;
		font-size: 25px;
		display: none;
	}
	.sideber{
		top: 1%;
		left: -60%;
		height: 50vh;
		width: 50%;
		font-size: 13px;
	}
	.sideber.on{
		top: 3%;
	}


	/* main */
	.text-box h1{
		font-size: 17px;
	}

	.text-box p{
		font-size: 12px;
		line-height: 14px;
	}

	/* content */
	.video p{
		font-size: 15px;
	}

	/* footer */
	.footer01{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.top-button{
		font-size: 1.75rem;
	}

	.footer01 ul{
		width: 90%;
		margin-left: 0;
		margin-top: 3%;
	}

	.share-icon li{
		font-size: 20px;
	}

	.footer02{
		margin-top: 0;
		padding-bottom: 3%;
	}

	.footer02 p{
		font-size: 12px;
		margin-top: 3%;
	}

	.heading{
		font-size: 12px;
	}

	.heading-text{
		margin-top: 10px;
		font-size: 10px;
	}





}