.hidden {
    display: none;
}

#animation-area {
    text-align: center;
    font-size: 2em;
    animation: spin 2s linear infinite;
	padding: 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.result-image {
	margin: auto;
}

.container {
	margin-top: 10%;
}

h1 {
	margin-bottom: 64px;
}
#gacha-button {
	margin-top: 64px;
}

@media (max-width: 1024px) {
	.container {
		margin-top: 15%;
	}

	.result-img-container {
		width: 50%;
		margin: auto;
	}
	#result-image {
		width: 100%;
		object-fit: contain;
	}
}

@media (max-width: 767px) {
	h1 {
		margin-bottom: 32px;
	}
	#gacha-button {
		margin-top: 32px;
	}
	.result-img-container {
		width: 75%;
		margin: auto;
	}
	#result-image {
		width: 100%;
		object-fit: contain;
	}
}
