@charset "utf-8";
/*=======================================================
基本設定
=======================================================*/
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  line-break: strict;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
*:focus,
a:focus {
  outline: none;
}
html {
  font-family: "メイリオ", Meiryo, "游ゴシック Medium", "游ゴシック体",
    "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.04em;
  -webkit-text-size-adjust: 100%;
  color: #333;
}
body,
header,
main,
footer {
  min-width: 1020px;
}
body {
  background: #fff;
}
article,
aside,
figcaption,
figure,
picture,
footer,
main,
header,
nav,
section {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
ul,
ol {
  list-style: none;
}
p,
li,
dt,
dd,
th,
td {
  -ms-line-break: strict;
  line-break: strict;
  -ms-word-break: break-strict;
  word-break: break-strict;
}
a {
  color: #107ce1;
}
a:hover,
.hp_hover:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
img {
  max-width: 100%;
  height: auto;
}
picture {
  line-height: 0;
}
picture img {
  vertical-align: top;
}
input,
button,
select,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}
/*PC/SP*/
.pc {
  display: initial !important;
}
.sp {
  display: none !important;
}
@media only screen and (min-device-width: 1025px) {
  a:hover,
  .hp_hover:hover {
    opacity: 0.7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  label:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 28px;
  }
  body,
  header,
  main,
  footer {
    min-width: 750px;
    max-width: 750px;
    width: 100%;
  }
  .sp {
    display: initial !important;
  }
  .pc {
    display: none !important;
  }
}
/*=============================
　共通デザイン
==============================*/
/*レイアウト*/
.ly_head_inner,
.ly_foot_inner,
.ly_cont,
.ly_cont_inner {
  width: 1020px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.sec_mainTtl {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
}
.hp_mincho {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro",
    "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight:inherit;
}
.el_txt{
	font-size: 22px;
	letter-spacing: 0.08rem;
    line-height: 1.54;
	text-align: center;
}
/*el_btn*/
.el_btn {
  padding: 3px 0 0 0;
  background: #0f0664;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  width: 301px;
  height: 62px;
  font-size: 24px;
  border-bottom: 4px solid #cfcfcd;
}
.el_btn::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: auto 0;
  border-style: solid;
  border-width: 5.5px 0 5.5px 9px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 0;
  right: 19px;
  bottom: 0;
}
/*※*/
.el_att {
  padding: 0 0 0 1rem;
  position: relative;
}
@media screen and (max-width: 750px) {
  /*レイアウト*/
  .ly_head_inner,
  .ly_foot_inner,
  .ly_cont,
  .ly_cont_inner {
    width: 100%;
  }
  /*各セクション見出し*/
  .el_sec_mainTtl {
    font-size: 44px;
  }
  /*bl_media*/
  .bl_mediaUnit,
  .bl_media {
    display: block;
  }
  .bl_media {
    width: 100% !important;
  }
  .bl_media_imgWrapper {
    width: 100% !important;
    margin-bottom: 40px;
  }
  .bl_media_body {
    width: 100% !important;
    margin-top: 0;
  }
  .bl_media_body p {
    margin-bottom: 35px;
  }
  /*el_btn*/
  .el_btn {
    height: 96px;
    padding: 4px 10px 0 0;
    border-bottom-width: 4px;
    border-radius: 10px;
    font-size: 38px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 39px;
  }
  .el_btn::after {
    border-width: 8.5px 0 8.5px 14px;
    right: 29px;
  }
}
/*=============================
　header
==============================*/
.ly_head{
	background: rgb(176,176,186);
	background: linear-gradient(180deg, rgba(176,176,186,1) 0%,
				 rgba(255,255,255,1) 66%);
	/* background: url(../ufo-ryokan/) */
	height: auto;
    position: relative;
    border: none;
    box-shadow: none;
	padding-top: 240px;
	padding-right: 45px;
}
.ly_head .el_media_imgWrapper{
	width: 493px;
	height: 283px;
	margin: 0 auto;
}
.ly_head .el_mainTtl img{
	width: 300px;
	height: 157px;
	margin-top: 60px;
	margin-bottom: 10px;
}
.ly_head .el_mainTtl{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 18%;
}
.ly_head .sub-top{
	margin-top: 67px;
}
.head_txt{
	text-align: end;
	font-size: 20px;
	line-height: 28px;
	margin-right: 18%;
	padding-top: 40px;
}
.ly_head .sub-top{
	background: url(../ufo-ryokan/ufo.png)center no-repeat;
    background-size: contain;
    height: 285px;
}
.ly_head .flex{
	display: flex;
	justify-content: center;
}
.ly_head .boldFont{
	margin-top: 72px;
	text-align: initial;
}
.ly_head .under_line{
	border-bottom:solid 2px rgb(3, 143, 15);
}

/*=============================
　天成園ーイントロダクション
==============================*/
#intro{
	background:url(../ufo-ryokan/bg01.png) center no-repeat;
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 100px;
	margin-top: 67px;
}
#intro .ly_cont_inner{
	box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.35);
     width:100px;
	background-color: rgb(247, 255, 242);
	width: 1020px;
    margin-left: auto;
    margin-right: auto;
	padding: 52px 75px;
	position: relative
}
#intro .subTtl{
	font-size: 27px;
}
#intro .mar-left{
	margin-left: 145px;
}
.gyousyo{
	font-family: ta-kouran,sans-serif;
	font-weight: bold;
	font-style: normal;
	margin-top: 25px;
}
.fx-end{
	position: absolute;
    left: 760px;
    top: 113px;
}
#intro .el_txt{
	font-size: 22px;
	letter-spacing: 0.08rem;
    line-height: 1.54;
	text-align: initial;
	width: 670px;
    margin-right: auto;
    margin-left: auto;
}
#intro .el_media_imgWrapper{
	width: 550px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
#intro .media_bg{
	background: url(../ufo-ryokan/frame01.png) center no-repeat;
	background-size: contain;
	margin-top: 45px;
}
#intro .el_media_imgWrapper img{
	padding: 50px;
}

/*=============================
　これまでの歩み
=============================*/
#history .ly_cont_inner{
	width: 100%;
	padding-bottom: 67px;
	background: url(../ufo-ryokan/mon.png) no-repeat,
				url(../ufo-ryokan/no-moon-bg.png) no-repeat;
	background-position: top right, top;
	background-size: 27% auto, 100% auto;
}
#history .sec_mainTtl{
	justify-content: flex-start;
	margin-left: 180px;
	color: #fff;
	padding-top: 120px;
}
#history .white_font_etc{
	color: #fff;
	text-align: initial;
	margin-left: 180px;
	margin-top: 67px;
}
#history .his_info_box{
	position: relative;
	padding: 45px 120px 45px;
	margin-left: auto;
	margin-right: auto;
}
#history .el_media_imgWrapper{
	width: 885px;
	margin: 47px auto 0;
}

/*=============================
　宿泊プラン
=============================*/
#plan .ly_cont_inner{
	width: 100%;
	padding-bottom: 45px;
	background: url(../ufo-ryokan/background5.png) center no-repeat;
	background-size: cover;
}
#plan .sec_mainTtl{
	padding-top: 77px;
}
#plan .sec{
	background-color: rgba(255, 255, 255);
	border: solid 2px rgb(3, 168, 3);
	width: 885px;
	margin: 40px auto 0;
	padding: 52px 175px;
}
#plan .plan_info{
	display: flex;
	flex-direction: column;
	align-items:flex-start;
}
#plan .good_li{
	list-style: disc;
	margin-top: 45px;
}
#plan .good_li .no-point{
	list-style: none;
}
.boldFont{
	font-weight: bold;
}
#plan .list{
	margin-left: 40px;
}
#plan .el_txt{
	text-align: start;
}
#plan .el_media_imgWrapper{
	width: auto;
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

/*=============================
　経営者の声
=============================*/
#exe{
	padding: 55px 0 65px;
	background: url(../ufo-ryokan/background6.png)no-repeat;
	background-size: cover;
}
#exe .ly_cont_inner{
	padding: 30px 160px 30px;
}
#exe .end-start{
	text-align: end;
	margin-top: 85px;
}
#exe .txt_box{
	margin-top: 60px;
	text-align: initial;
}
#exe .space{
	margin-top: 40px;
}
/*=============================
　ご案内（予約ページ）
=============================*/
#reserve{
	margin: 47px 0 57px 0;
}
#reserve .ly_cont_inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid rgb(74, 241, 33);
	background-color:rgb(234, 255, 220, 0.6);
	padding: 35px 0 50px;
}
#reserve .reserve-top img{
	width:270px;
	height: 142px;
}
#reserve .el_media_imgWrapper{
	margin-top: 30px;
}
#reserve .hotel_cont{
	margin-top: 40px;
	margin-bottom: 60px;
}
#reserve .cont_list{
	text-align: initial;
	margin-bottom: 40px;
}
#reserve .reception{
	width: 495px;
	border: 1px solid;
	padding: 18px 40px;
	background-color: #fff;
	margin: 30px 0 30px 0;
}
.red{
	color: red;
	margin-bottom: 15px;
	font-size: 24px;
}
#reserve .small_font{
	margin-top: 10px;
}

/*=============================
　footer
=============================*/
main {
	min-height: calc(100vh - 285px /*header + footerの高さ*/);
  }
  .ly_foot {
	background: #1c243a;
	padding-top: 50px;
  }
  .ly_foot_inner {
	padding-bottom: 40px;
  }
  /*ナビ*/
  .bl_foot_gloNav {
	width: 910px;
	margin-left: auto;
	margin-right: auto;
  }
  .bl_foot_gloNav_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .bl_foot_gloNav_inner li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	text-decoration: underline;
  }
  .bl_foot_gloNav_inner li::before {
	content: "";
	display: block;
	justify-content: center;
	margin-right: 7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5.5px 0 5.5px 9px;
	border-color: transparent transparent transparent #c5b283;
  }
  .bl_foot_gloNav_inner a {
	color: #fff;
  }
  /*コピーライト*/
  .bl_foot_copyright {
	width: 100%;
	height: 35px;
	background: #000;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  }
  .bl_foot_copyright small {
	color: #fff;
	font-size: 12px;
	font-family: Verdana; /* Android */
  }
  @media screen and (max-width: 750px) {
	.ly_foot_inner {
	  padding-bottom: 20px;
	}
	.bl_foot_gloNav {
	  width: initial;
	}
	.bl_foot_gloNav_inner {
	  display: block;
	}
	.bl_foot_gloNav_inner li {
	  margin-bottom: 30px;
	  justify-content: center;
	}
	.bl_foot_gloNav_inner li::before {
	  margin-right: 10px;
	  border-width: 8.5px 0 8.5px 12px;
	}
	.bl_foot_copyright {
	  height: 48px;
	}
	.bl_foot_copyright small {
	  font-size: 16px;
	}
  }
  /* Edge */
  _:-ms-lang(x)::backdrop {
  }
  
  /* firefox */
  _:lang(x)::-moz-placeholder {
  }
  
  /* Mac,iPad Safari */
  @media only screen and (min-device-width: 768px) {
	_::-webkit-full-page-media,
	_:future,
	:root .el_label,
	_::-webkit-full-page-media,
	_:future,
	:root .bl_vertPosts_date,
	_::-webkit-full-page-media,
	_:future,
	:root .hp_strikethrough {
	  padding-top: 0;
	}
	_::-webkit-full-page-media,
	_:future,
	:root .el_btn {
	  padding-top: 2px;
	}
	_::-webkit-full-page-media,
	_:future,
	:root .el_triangleLink::before {
	  top: 4px;
	}
	_::-webkit-full-page-media,
	_:future,
	:root .bl_catLabel {
	  padding-bottom: 11px;
	}
  }
  
/* Mac Ssafari */
 @media only screen and (min-device-width: 1025px) {
　_::-webkit-full-page-media,
　_:future,
  :root {
  }
}
  
/* iPad Safari */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	_::-webkit-full-page-media,
	_:future,
	:root {
	}
  }